@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Nunito&display=swap');
 

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}