@import url('font.css');
/* ^^^Just basic font-sheet import practice */

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;

  height:100vh;

  /* Creating a grid row so I can center the card vertically*/
  display: grid;
  grid-template-rows: 1fr;
}

/* Card wrapping */

.card {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: auto;
  
  /* center the card in the row */
  margin: auto;
  width: 35ch;

  background-color: #eee;
  /* Add soft drop shadow to the card */
  box-shadow: 4px 4px 6px 1px hsla(0, 100%, 0%, 0.2);
}


/* Background Image */

.bg-img { 
  /*set width to 35ch to match card width*/
  height: 10rem;
  width: 35ch;

  /* bg image wraps entire range of columns, 2 rows for overlap */
  grid-column: 1/-1;
  grid-row: 1/3;

  /* Maintain the aspect ratio and fit to the box. Matches demo better.  */
  object-fit: cover;
}


/* Profile Image */

.profile-img {
  width: 10rem;
  height: 10rem;
  /* Assign grid space overlapping with the bg image, in order to pull the profile onto it*/
  grid-column: 1/4;
  grid-row:2/4;
  align-self: center;
  justify-self: center;
  object-fit: cover;

  /* Add border + Border-radius to create a circular shape outline */
  border: 0.5rem solid #eee;
  border-radius: 5rem;
}


/* Name & Bio wrapper */

.bio {
  grid-column: 1/4;
  grid-row:4/6;
  text-align: center;
}


/* Member name */

h1 {
  font-size: 1.2rem;
  margin-bottom: 0;
}


/* Bio */

p {
  font-weight: bold;
  padding: 2ch 1.5ch;
  margin: 0;
}


/* Social Media icon list/container */

.social {
  display: flex;
  grid-row: 6/7;
  grid-column:1/4;
  justify-content: space-evenly;
  
  margin: 0;
  padding: .5rem 0;

  /* Get rid of that nasty list styling */
  list-style:none;
  text-decoration: none;
  /*Adjust social media icons, add a top border  */
  font-size: 2.5rem;
  color: navy;
  border-top: 1px #ccc solid;
}
