* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  height: 100vh;
}

ul {
  padding-left: 0;
}

ul,
ul li,
ul li a {
  list-style: none;
  text-decoration: none;
  color: black;
}

ul li a {
  display: block;
  text-transform: uppercase;
}